<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A simple redux apps example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
</head>
<body style="margin: 0; padding: 0">
  <div id="app">
    Redux apps ss
  </div>
  {{#manifest}}
    <script src="/public/js/{{bundle}}"></script>
  {{/manifest}}
</body>
</html>